@import "../custom";
@import "../utilities/mixins";

.menu {
    @include gradient;

    li {
        padding: 0 1rem;
    }

    a {
        color: $white;
        font-size: 1.3rem;
    }

    &:hover, &:focus {
        color: $black;
    }
    
    .logo {
        color: $black;
    }
}

